<div class="container">
  <h1>Adopte un arbre</h1>
  <p>Vous recevrez les meilleurs fruits après chaque cueillette</p>
  <h2>Recherche un arbre autour de chez toi</h2>
  <%= form_tag trees_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Enter your city" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Voir les arbres", trees_path %>
</div>
