<%# <p class="title">Subject : Créer une application rails permettant à des maraîchers de louer leurs arbres fruitiers à des particuliers.</p>
<p class="subtitle">
  Effectuez les modifications du code nécessaires à l’implémentation des parcours utilisateurs suivants :
</p>

<ul>
  <li> En tant qu’utilisateur, je peux accéder à la page d’accueil.</li>
  <li> En tant qu’utilisateur, je peux voir la liste de tous les arbres.</li>
  <li> En tant qu’utilisateur, je peux ajouter plusieurs arbres.</li>
  <li> En tant qu’utilisateur, je peux accéder aux détails d’un arbre.</li>
  <li> En tant qu’utilisateur, je peux adopter plusieurs arbres (1 par 1).</li>
  <li> En tant qu’utilisateur, je peux voir mes adoptions.</li>
  <li> En tant qu’adoptant, je ne peux pas annuler mon adoption.</li>
  <li> En tant que propriétaire, je peux modifier mon arbre.</li>
  <li> En tant que propriétaire, je peux supprimer mon arbre.</li>
</ul>

<p class="title">Create the Schema DB</p>

<p class="subtitle">Here are the requirements of our system:</p>

<ul>
  <li> The application manages several users.</li>
  <li> A user can create many trees, but a tree is created by only one user.</li>
  <li> A user can adopt a tree.</li>
  <li> A user who has made an adoption can add a review on it.</li>
</ul> %>
<div class="instructions-container">
  <p class="title">Create the DB (Schema DB)</p>

  <p class="subtitle">Associations</p>

  <ul>
    <li>A user can create many trees, but a tree is created by only one user.</li>
    <li>A user can adopt a tree.</li>
    <li>A user who has made an adoption can add a review on it.</li>
  </ul>

  For now your schema should look like this:

  <img src="" alt="schema">


  <p class="title">Développer une application web</p>

  <p>Voici le parcours utilisateurs :</p>

  <ul>
    <li>En tant qu’utilisateur, je peux accéder à la page d’accueil.</li>
    <li>En tant qu’utilisateur, je peux voir la liste de tous les arbres.</li>
    <li>En tant qu’utilisateur, je peux ajouter plusieurs arbres.</li>
    <li>En tant qu’utilisateur, je peux accéder aux détails d’un arbre.</li>
    <li>En tant qu’utilisateur, je peux adopter plusieurs arbres (1 par 1).</li>
    <li>En tant qu’utilisateur, je peux voir mes adoptions.</li>
    <li>En tant qu’adoptant, je ne peux pas annuler mon adoption.</li>
    <li>En tant que propriétaire, je peux modifier mon arbre.</li>
    <li>En tant que propriétaire, je peux supprimer mon arbre.</li>
  </ul>



  <p class="title">Déployer une application web</p>
</div>
