.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid-margin-bottom {
  &:last-child {
    margin-bottom: 4rem;
  }
}

@media(min-width: 992px) {
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1200px) {
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}
